@font-face {
  font-family: "iconfont"; /* Project id 4276167 */
  src: url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.woff2?t=1705572029091') format('woff2'),
       url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.woff?t=1705572029091') format('woff'),
       url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.ttf?t=1705572029091') format('truetype'),
       url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.svg?t=1705572029091#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dc_type:before {
  content: "\e665";
}

.icon-dc_edit_empty:before {
  content: "\e630";
}

.icon-dc_input:before {
  content: "\e62e";
}

.icon-dc_clock:before {
  content: "\e626";
}

.icon-dc_tooltip:before {
  content: "\e63f";
}

.icon-dc_radio:before {
  content: "\e61e";
}

.icon-dc_textarea:before {
  content: "\e61f";
}

.icon-dc_select:before {
  content: "\e62f";
}

.icon-dc_table:before {
  content: "\e631";
}

.icon-dc_form_table:before {
  content: "\e632";
}

.icon-dc_email:before {
  content: "\e635";
}

.icon-dc_link:before {
  content: "\e636";
}

.icon-dc_divider:before {
  content: "\e637";
}

.icon-dc_checkbox:before {
  content: "\e639";
}

.icon-dc_phone:before {
  content: "\e63a";
}

.icon-dc_array:before {
  content: "\e63c";
}

.icon-dc_datetime:before {
  content: "\e63d";
}

.icon-dc_address:before {
  content: "\e63e";
}

.icon-dc_submit:before {
  content: "\e60d";
}

.icon-dc_collapse:before {
  content: "\e60e";
}

.icon-dc_export:before {
  content: "\e60f";
}

.icon-dc_config_category:before {
  content: "\e610";
}

.icon-dc_home_page:before {
  content: "\e611";
}

.icon-dc_new:before {
  content: "\e612";
}

.icon-dc_uncollapse:before {
  content: "\e614";
}

.icon-dc_redo:before {
  content: "\e615";
}

.icon-dc_form_manage:before {
  content: "\e616";
}

.icon-dc_pass:before {
  content: "\e617";
}

.icon-dc_remind:before {
  content: "\e618";
}

.icon-dc_import:before {
  content: "\e619";
}

.icon-dc_copy:before {
  content: "\e61a";
}

.icon-dc_datacollection:before {
  content: "\e61b";
}

.icon-dc_reject:before {
  content: "\e61c";
}

.icon-dc_edit:before {
  content: "\e61d";
}

.icon-dc_back:before {
  content: "\e620";
}

.icon-dc_announce:before {
  content: "\e621";
}

.icon-dc_waiting_submit:before {
  content: "\e622";
}

.icon-dc_empty:before {
  content: "\e623";
}

.icon-dc_system_manage:before {
  content: "\e624";
}

.icon-dc_view:before {
  content: "\e625";
}

.icon-dc_batch_config:before {
  content: "\e627";
}

.icon-dc_save:before {
  content: "\e628";
}

.icon-dc_arrow:before {
  content: "\e629";
}

.icon-dc_waiting_config:before {
  content: "\e62c";
}

.icon-dc_waiting_audit:before {
  content: "\e62d";
}
