@font-face {
  font-family: 'iconfont'; /* Project id 4276167 */
  src: url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.woff2?t=1705572029091') format('woff2'),
    url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.woff?t=1705572029091') format('woff'),
    url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.ttf?t=1705572029091') format('truetype'),
    url('//at.alicdn.com/t/c/font_4276167_ue3e5oying.svg?t=1705572029091#iconfont') format('svg');
}

.anticon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon:before {
  display: block !important;
}

.anticon-dc_type:before {
  content: '\e665';
}

.anticon-dc_edit_empty:before {
  content: '\e630';
}

.anticon-dc_input:before {
  content: '\e62e';
}

.anticon-dc_clock:before {
  content: '\e626';
}

.anticon-dc_tooltip:before {
  content: '\e63f';
}

.anticon-dc_radio:before {
  content: '\e61e';
}

.anticon-dc_textarea:before {
  content: '\e61f';
}

.anticon-dc_select:before {
  content: '\e62f';
}

.anticon-dc_table:before {
  content: '\e631';
}

.anticon-dc_form_table:before {
  content: '\e632';
}

.anticon-dc_email:before {
  content: '\e635';
}

.anticon-dc_link:before {
  content: '\e636';
}

.anticon-dc_divider:before {
  content: '\e637';
}

.anticon-dc_checkbox:before {
  content: '\e639';
}

.anticon-dc_phone:before {
  content: '\e63a';
}

.anticon-dc_array:before {
  content: '\e63c';
}

.anticon-dc_datetime:before {
  content: '\e63d';
}

.anticon-dc_address:before {
  content: '\e63e';
}

.anticon-dc_submit:before {
  content: '\e60d';
}

.anticon-dc_collapse:before {
  content: '\e60e';
}

.anticon-dc_export:before {
  content: '\e60f';
}

.anticon-dc_config_category:before {
  content: '\e610';
}

.anticon-dc_home_page:before {
  content: '\e611';
}

.anticon-dc_new:before {
  content: '\e612';
}

.anticon-dc_uncollapse:before {
  content: '\e614';
}

.anticon-dc_redo:before {
  content: '\e615';
}

.anticon-dc_form_manage:before {
  content: '\e616';
}

.anticon-dc_pass:before {
  content: '\e617';
}

.anticon-dc_remind:before {
  content: '\e618';
}

.anticon-dc_import:before {
  content: '\e619';
}

.anticon-dc_copy:before {
  content: '\e61a';
}

.anticon-dc_datacollection:before {
  content: '\e61b';
}

.anticon-dc_reject:before {
  content: '\e61c';
}

.anticon-dc_edit:before {
  content: '\e61d';
}

.anticon-dc_back:before {
  content: '\e620';
}

.anticon-dc_announce:before {
  content: '\e621';
}

.anticon-dc_waiting_submit:before {
  content: '\e622';
}

.anticon-dc_empty:before {
  content: '\e623';
}

.anticon-dc_system_manage:before {
  content: '\e624';
}

.anticon-dc_view:before {
  content: '\e625';
}

.anticon-dc_batch_config:before {
  content: '\e627';
}

.anticon-dc_save:before {
  content: '\e628';
}

.anticon-dc_arrow:before {
  content: '\e629';
}

.anticon-dc_waiting_config:before {
  content: '\e62c';
}

.anticon-dc_waiting_audit:before {
  content: '\e62d';
}
