@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";


body {
  overflow: hidden;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
}

html {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

#app {
  overflow: auto;
  height: 100%;

  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    position: relative;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  // color: inherit;
  color: $--color-primary;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: $--color-primary;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.app-content {
  margin: 12px 12px 0px 12px;
}


.app-card {
  margin-bottom: 12px;
}

.link-type,
.link-type:focus {
  color: #2d8cf0;
  cursor: pointer;

  &:hover {
    color: #2d8cf0;
  }
}

.search-row {
  margin-bottom: 12px;
  margin-top: 12px;
}

.filter-container {
  margin-left: 12px;
  // .el-form--inline {
  //   margin-left: 0px;
  //   margin-top: 12px;

  //   .el-form-item__label {
  //     font-size: 13.2px;
  //     letter-spacing: 0.3ch;
  //   }
  // }
}

.search-button-admin {
  float: right;
  margin-right: 12px;

  // margin-top: 12px;
  // margin-bottom: 18px;
  .el-button+.el-button {
    margin-left: 6px;
  }

  a {
    font-size: 13px;
    text-decoration: underline;
    margin-left: 12px;
  }
}

.card-header {
  line-height: 32px;
}

//-- test
.testborder {
  outline: 2px solid red;
}