/* 改变主题色变量 */
$--color-primary: #1890ff;
$--color-danger: #f5222d;

/* sidebar */
$subMenuBg: #101117;
$activeSubMenuBg: #1890ff;
$menuHover: rgba(45, 139, 240, 0.185);

// 
$component-background: #fff;
