@import './element-ui.scss';
@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';

body {
  overflow: hidden;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-size: 14px;
}

html {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

#app {
  overflow: auto;
  height: 100%;

  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    position: relative;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  // color: inherit;
  color: $--color-primary;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: $--color-primary;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.app-content {
  margin: 12px 12px 0px 12px;
}

.app-card {
  margin-bottom: 12px;
}

// LIST页面头部搜索表单
.header-form {
  margin-top: 5px;
  .el-button {
    margin-left: 16px;
  }
  .el-button + .el-button {
    margin-left: 16px;
  }
}

// LIST页面表格样式
.list-table {
  .el-table__header tr,
  .el-table__header th {
    padding: 0;
    height: 50px;
    color: #000000;
  } //表头
  .el-table__body tr,
  .el-table__body td {
    padding: 0;
    height: 50px;
  } ///各行
}

// LIST页面表格头部
.list-header {
  margin: 12px 0px 18px 0px;
  > span {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }
  .list-header-button {
    float: right;
    .el-button + .el-button {
      margin-left: 12px;
    }
  }
}

.card-title {
  margin: 18px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  .card-title-button {
    float: right;
    .el-button + .el-button {
      margin-left: 12px;
    }
  }
}
